.step1-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  .formatter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .input {
      flex-grow: 1;
      padding: 10px;
    }

    .output {
      flex-grow: 1;
      padding: 10px;
    }

    textarea {
      font-size: 10px;
    }
  }
}
